.card {
    margin-top: 80px;
    height: 350px;
    width: 270px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    box-sizing: border-box;
    cursor:pointer

}

.card-img {
    height: 50%;
    width: 100%;
    box-sizing: border-box;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardDetails {
    padding: 10px;
}

.Heading h2 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 5px 0;
}

.author p {
    font-size: 14px;
    color: #555;
    margin: 0;
}

.rating {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
    margin: 5px 0;
}

.rating span {
    margin-right: 5px;
}

.price {
    display: flex;
    align-items: baseline;
    margin-top: 10px;
}

.current-price {
    font-size: 18px;
    font-weight: bold;
    color: #ff5c00;
    margin-right: 10px;
}

.original-price {
    font-size: 14px;
    color: #999;
    text-decoration: line-through;
}
